<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/edit?_method=PATCH" method="post">
        <!-- use patch instead of post by method override -->
        <input type="text" name="editText" id="text">
        <button>submit</button>
    </form>
    <a href="/">cancel</a>
</body>
</html>