<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Homepage!!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum neque corporis cumque! Nobis, ab corporis dolor quae aspernatur repellendus, deleniti saepe a debitis beatae ducimus commodi aliquam voluptate sint repellat.</p>
</body>
</html>